<Project>
    <PropertyGroup>
        <SharedPath>../</SharedPath>
        <Unity>../</Unity>
        <Destination>../</Destination>
        <Celeste>../</Celeste>
        <Absence>../</Absence>
        <Divorce>../</Divorce>
        <Ktane>../</Ktane>
    </PropertyGroup>
</Project>
