<Project>
    <PropertyGroup>
        <Ktane>../</Ktane>
        <Unity>../</Unity>
        <Celeste>../</Celeste>
        <SharedPath>../</SharedPath>
        <Destination>../</Destination>
    </PropertyGroup>
</Project>
